/* nav */
.nav {
  display: none;

  &.active {
    display: block;
    position: fixed;
    top: 51px;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    background: var(--bg-color-primary);
  }

  // &.active {
  //   top: 0px;
  // }

  &__item {
    padding: 24px 15px;
    font-size: 24px;
    border-bottom: 1px solid var(--border-color-primary);
  }
}
