/* column */
.column img {
  display: block;
  width: 40px;
  height: 40px;
}

.column__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 22px;
}

.column__list {
  margin-top: 20px;
  font-size: 14px;
  line-height: 20px;
  display: grid;
  gap: 10px;
  }
  
.column__item {
  font-size: 14px;
}