/* column */
.column img {
  display: block;
  width: 40px;
  height: 40px;
  
  &__title {
    font-weight: 700;
    font-size: 16px;
    line-height: 22px;
  }
  
  &__list {
    margin-top: 20px;
    font-size: 14px;
    line-height: 20px;
    display: grid;
    gap: $gap-smoll-size;
    }
    
  &__item {
    font-size: 14px;
  }
}
