.clients {
  padding: 30px 15px;
}

.clients__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.clients__brands {
  display: flexbox;
  flex-direction: column;
  column-count: 2;
  justify-content: space-between;
  column-width: 290px;
}

.clients__brand {
  width: 130px;
  height: 47px; 
}