/* clients */
.clients {
  padding: 30px 15px;
}

/* .clients__wrapper {  
} */

.clients__brands {
  display: grid;
  gap: $gap-big-size;
  grid-template-columns: repeat(2, 1fr);
  color: var(--color-primary);
}

/* .clients__brand {
  width: 130px;
  height: 47px; 
} */